@use "variables";
@use "sass:color";

.peaks_list {
  margin-top: 30px;
   display: flex;
  flex-direction: column;
  padding: 20px;
  color:  variables.$color1;
 h3 {
   color: variables.$color2;
 }
  button {

    font-size: 2rem;
    border-radius: 7px;
    border: none;
    background-color: variables.$color4;
    &:hover {
      box-shadow: 0 6px 6px #00000029;;
    }
  }
}