$color1 : #282028;
$color2 : #5e4c56;
$color3 : #91819c;
$color4 : #d1c2cf;
$color5 : #f3f3f3;

/////
/*
.color1 {color: #151e25;}
.color2 {color: #36323f;}
.color3 {color: #51555a;}
.color4 {color: #8d8089;}
.color5 {color: #d6c0cf;}*/
