@use "variables";

.weather {

  background-image: url(../assets/gerlach_damian.png);
  background-size: cover;

  background-position: top;
  display: flex;
  flex-direction: column;
  h2 {
    align-self: center;
    color: variables.$color2;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(210, 225, 221, 0.5);
    padding: 10px 40px;
    border-radius: 15px;
  }
}
.forecast {
  display:flex;
  gap: 1rem;
  flex-wrap: wrap;

}
.forecast_unit {
background: variables.$color5;
  opacity: 0.9;
width: 15vw;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 6px 6px #00000070;
}
.weather-now {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: variables.$color5;
  opacity: 0.9;
  color: variables.$color1;
 width: fit-content;
  border-radius: 10px;
  box-shadow: 0 6px 6px #00000070;
}
.weather-units {
    display: flex;
  align-items: flex-end;
  justify-content: space-between;
gap: 50px;
  margin: 1rem;

}